.container {
  background-color: var(--col-match-list-border);
  padding: 80px 0;
  min-height: 100vh;

  h1 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
  }
}

.matches-container {
  margin: 0 auto;
  max-height: 700px;
  max-width: 1250px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 10px;

  #app-map {
    width: 100%;
    padding-right: 15px;
  }

  .match--detail-container {
    background-color: #C8C8C8;
    overflow: auto;
    max-width: 500px;
    width: 100%;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
      background-color: var(--col-match-list-bg-dark);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--col-match-list-border);
      border-radius: 1rem;
      border: 4px solid var(--col-match-list-bg-dark);
    }
  }

  .kill-card {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--col-match-list-border);
    color: white;
    padding: 1rem 3.5%;
    cursor: pointer;

    &.kill--team {
      background: linear-gradient(0.25turn, var(--col-match-list-bg-dark), var(--col-match-list-bg-light));
    }

    &.isnot--kill--team {
      background: linear-gradient(0.25turn, var(--col-match-list-defeat), var(--col-match-list-defeat));
    }


    &:nth-child(even) {
      background: linear-gradient(0.25turn, var(--col-match-list-bg-light), var(--col-match-list-bg-dark));
    }

    &:hover {
      filter: brightness(0.8);
    }

    .match--type {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      span {
        display: inline-block;
        font-size: 1.3rem;
        margin-bottom: 6px;
        &.match--victory {
          color: rgb(228, 227, 227);
        }
        &.match--common {
          color: var(--col-match-list-text-cream);
        }
        &.match--defeat {
          color: rgb(211, 7, 7);
        }
        &:last-child {
          margin: 0;
        }
      }
    }

    .match--player {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 250px;
      min-width: 150px;
      width: 100%;

      div {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        // background-color: #2dd36f;

        &.kill--icon {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;

          img {
            width: 50%;
          }
        }

        img { width: 100%; }
      }
    }

    .match--timestamp {
      width: 80px;
      font-weight: bold;
      line-height: 1.2;

      p {
        color: var(--col-match-list-text-cream);
        font-size: 1.2rem;
      }
    }
  }

}

@media screen and (max-width: 730px) {
  .matches-container {
    flex-direction: column;
    max-height: none;
    align-items: center;
    justify-content: center;
  }

  #app-map{
    padding-right: 0px !important;
  }

  .map-container{
    max-width: none;
  }

  .match--detail-container {
    background-color: #C8C8C8;
    overflow: auto;

    max-width: none;
    margin: calc(100% - 40px);
  }

  .match--detail-container{
    max-width: 700px !important;
    margin-top: 400px !important;
  }
}

@media screen and (max-width: 560px) {
  .match--detail-container{
    margin-top: 230px !important;
  }
}

@media screen and (max-width: 460px) {
  .match--detail-container{
    margin-top: 130px !important;
  }
}

@media screen and (max-width: 375px) {
  .match--detail-container{
    margin-top: 50px !important;
  }
}