<div *ngIf="isLoaded | async; else elseBlock">
  <div class="container">

    <h1>Match</h1>

    <div class="matches-container">
      <app-map id="app-map" [match]="match"></app-map>

      <div class="match--detail-container">
        <div class="kill-card" *ngFor="let kill of match.kills">

          <div class="match--type">
            <p>Type</p>
            <span class="match--defeat">Ennemy</span>
          </div>

          <div class="match--player">
            <div><img src="{{ kill.killerImage }}" alt="Champion killer"></div>
            <div class="kill--icon"><img src="../../../assets/img/kill.png" alt=""></div>
            <div><img src="{{kill.victimImage }}" alt="Champion victim"></div>
          </div>

          <div class="match--timestamp">
            <p>Tué à</p>
            <span>{{ kill.timestamp | convertMsToMinutesSeconds }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #elseBlock>
  <app-loading></app-loading>
</ng-template>
