// !! Faire attention à l'ordre des imports !!
@import "./assets/css/utils/fonts";

// Variables
:root {
  // Colors
  --red: red;

  // Text - size
  --size: 1.6rem;

  // Text - weight
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

@import "./assets/css/utils/reset";

// STYLE

body {
    background-color: #fff;
    color: #111;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
