<app-loading></app-loading>
<div class="BG_home">
    <div class="home_filter">
        <div class= "main_page">
            <h1 class= "main_title">Bienvenue sur<br>Need For LoL !</h1>
            <p class= "main_text">Besoin d'analyser vos matchs ou ceux de joueurs pro pour vous améliorer ?<br>
            Rentrer le pseudo souhaité et nous nous occuperons du reste.</p>
        </div>                                                                                  
        <div class="search_bar_contener">
            <form action="" method="get">
                <div class="search_bar">
                    <input type="text" id="search" name="player_pseudo" placeholder="Entrez un pseudo" (keyup)="getSummonerByName()">
                    <select name="region" id="region">
                        <option value="WE">WE</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
            </form>
            <div [routerLink]="link" id="result"></div>
        </div>
        
    </div>
</div>

