<div *ngIf="isLoaded | async; else elseBlock">

    <div class="container">

        <h1>Liste des matches</h1>
    
        <div *ngIf="matches.length; else elseMatches">
            <div class="match-card" *ngFor="let match of matches; let i = index;" [ngClass]="{'hasWin': hasWin[i], 'hasLose': !hasWin[i]}">
                <a [routerLink]="['/match/', match.matchId ]">
                    <p>{{ match.matchId }}</p>
                    <p>Durée : {{ match.gameDuration | convertSecondsToMinutesSeconds }}</p>
                    <img src="{{ summonerImages[i] }}" alt="Icon du champion">
                </a>
            </div>
        </div>

        <ng-template #elseMatches>
            <p>Aucun matches joué récemment</p>
        </ng-template>

    </div>
    
</div>

<ng-template #elseBlock>
    <app-loading></app-loading>
</ng-template>
