#map {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  max-height: 700px;
  min-height: 300px;
  z-index: 0;
  background-image: url("../../../assets/img/map.png");
  background-size: cover;
  border-radius: 10px;
}
