/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * T E X T S  -  S I Z E
 * * * * * * * * * * * * * * * * * * * * * * * * * */

// Exemple => $size--card // $size--card-title (si plusieurs textes dans le component)
// $size--card-title: 2rem;
// $size--button: 2rem;




/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * T E X T S  -  W E I G H T
 * * * * * * * * * * * * * * * * * * * * * * * * * */
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
